<!DOCTYPE html>
<html>
  <head>
    <title> Simple App | home </title>
  </head>
  
  <body>
    

  <h1>Simple App </h1>
    <p> Hello </p>
<!--   <p>Find me in app/views/static_pages/home.html.erb</p> -->

  </body>
</html>